* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
body {
    padding: 60px 23px 66px;
    background-color: #ECE9FD;
}

h1 {
    font-family: 'Epilogue', sans-serif;
}